<ul>

	<li><%= link_to "Prices", item_prices_path %></li>
	<li><%= link_to "Purchases", purchases_path %></li>
  	<li><%= link_to 'Items', items_path %></li>
  	<li style="float:left"><%= link_to "A&M Chess Store", home_path%></li>
</ul>
