<div class="container display">
  <p id="notice"><%= notice %></p>

  <h1>Current Item Prices</h1>

  <% if @item_prices.empty? %>
    <h2>N/A</h2>
    <h4>No prices present in database.</h4>
  <% else %>
    <h5><%= link_to 'New Item price', new_item_price_path %><h5>
    <table class="highlight table_fix">
      <thead>
        <tr>
          <th>Item</th>
          <th>Price</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @item_prices.current.each do |item_price| %>
          <tr class="table_fix">
            <td class="table_fix"><%= link_to "#{item_price.item.name}", item_path(item_price.item) %></td>
            <td class="table_fix"><%= number_to_currency(item_price.price) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>
  <% end %>
</div>
