<div class="container display">
	<h1>Our Story</h1>
	<p>Alex and Mark Heimann are USCF and FIDE Chess Masters who, after graduating
	from college, are now looking for ways to help other up and coming scholastic
	players develop their chess skill. To that end, they decided to create a new
	start-up venture – an online chess store that buys chess supplies directly from
	manufacturers and sells to schools and eductional groups (e.g., homeschool coops,
	school district clubs) at low wholesale prices. 
	</p>
</div>