<div class="container display">
	<h1>A&M Chess Store Privacy Policy</h1>
	<p>We pledge to only sell your information to the Borg or associated enemies of the <span style="font-style:italic;">Enterprise</span>.</p>
	<p>This information may include your:</p>
	<ul>
		<li>Home address...</li>
		<li>Phone number...</li>
		<li>Birthday...</li>
		<li>Zodiac sign...</li>
		<li>Social security number...</li>
		<li>And much more!</li>
	</ul>
</div>